<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BAPOManager.Properties.Settings.CFManagerConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CFManagerA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="chuoi_ket_noi" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CFManagerA;Integrated Security=True;" />
    <add name="BAPOManager.Properties.Settings.CFManagerConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CFManagerA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
